:root {
  --color-a: rgba(206, 215, 224, 0.411);
  --color-b: rgb(25, 118, 210);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-image: url(../public/fondo-cielo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  background-color: #e4e4e4 !important;
}

nav {
  background-color: white;
  z-index: 2000;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
  transition: 0.18s ease-in-out;
}
a:hover {
  color: var(--color-b);
}

main {
  flex: 1;
  margin: 5rem;
  padding: 20px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 3px 3px 7px 2px rgba(36, 35, 35, 0.418);
}

h1 {
  color: black;
  font-weight: 400 !important;
}

button {
  border-radius: 8px;
  border: 0.5px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #242424;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  background-color: var(--color-a);
}

footer {
  bottom: 0;
  width: 100%;
  background-color: white;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #1f1f1f;
  }
  button {
    background-color: #f9f9f9;
  }
} */
